
.columns {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  
}

.column {
  flex: 1 0 13%;  /*1 est pour flex-grow, 0 est pour flex-shrink, 20% est pour flex-basis*/
  margin: 1%;
  padding: 10px;
}

    
